<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net471" />
  <package id="ClosedXML" version="0.95.3" targetFramework="net471" />
  <package id="ClosedXML.Signed" version="0.95.3" targetFramework="net471" />
  <package id="CurrencyTextBox" version="1.4.3" targetFramework="net461" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net471" />
  <package id="DocumentFormat.OpenXml" version="2.11.0" targetFramework="net471" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net471" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net471" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net461" />
  <package id="FastMember" version="1.5.0" targetFramework="net471" />
  <package id="FastMember.Signed" version="1.5.0" targetFramework="net471" />
  <package id="FreeSpire.XLS" version="10.10.0" targetFramework="net471" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net471" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net471" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net471" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net471" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net471" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net471" />
  <package id="Krypton.Components.Suite" version="4.5.9" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net471" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.11.2" targetFramework="net471" />
  <package id="MySql.Data" version="8.0.22" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net471" />
  <package id="Open-XML-SDK" version="2.9.1" targetFramework="net471" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net471" />
  <package id="RestSharp" version="106.11.4" targetFramework="net471" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net471" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net471" />
  <package id="Selenium.WebDriver.ChromeDriver" version="87.0.4280.2000" targetFramework="net471" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net471" />
  <package id="squirrel.windows" version="2.0.1" targetFramework="net471" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Pkcs" version="4.7.0" targetFramework="net471" />
  <package id="ZXing.Net" version="0.16.5" targetFramework="net471" />
</packages>